*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}select,input,textarea{-webkit-appearance:none}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}.clear{clear:both}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}img.alignleft,img.alignright,img.aligncenter{margin-bottom:1.625em}h1{font-size:30px}h2{font-size:33px;line-height:36px}h3{font-size:30px;line-height:34px}h4{font-size:20px}h5{font-size:16px}h6{font-size:14px}p{margin:0}ul,li,ol{list-style:none;margin:0;padding:0}dl{margin:0 1.625em}dt{font-weight:bold}dd{margin-bottom:1.625em}strong{font-weight:bold}cite,em,i{font-style:italic}blockquote{font-style:italic;font-weight:normal;margin:0 3em}blockquote em,blockquote i,blockquote cite{font-style:normal}blockquote cite{color:#666;font-weight:300;letter-spacing:.05em;text-transform:uppercase}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}a img,img{border:0;display:inline-block;vertical-align:middle;outline:0}a{color:#1982d1;text-decoration:none;cursor:pointer}a:focus,a:active,a:hover{text-decoration:none}:focus{outline:0}table{border-collapse:separate;border-spacing:0}caption,th,td{font-weight:normal;text-align:left}.right{float:right;}
    /* ********************************************* End Common Css ******************************************************* */
    /***************fonts css*******************/
    
    @font-face {
        font-family: 'Museo For Dell';
        src: url('../fonts/Museo For Dell Regular.eot');
        src: url('../fonts/Museo For Dell Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Museo For Dell Regular.woff2') format('woff2'), url('../fonts/Museo For Dell Regular.woff') format('woff'), url('../fonts/Museo For Dell Regular.svg#Museo For Dell Regular') format('svg');
        font-weight: 300;
        font-style: normal;
        font-stretch: normal; 
        unicode-range: U+0020-02DC;
    }
    /***************fonts css end*******************/
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
    }
    
    #page-wrapper {
        float: left;
        width: 100%;
    }
    
    .wrapper {
        margin: 0 auto;
        max-width: 1100px;
        width: 100%;
    }
    
    section,
    .column {
        float: left;
        width: 100%;
        position: relative;
    }
    
    .text-center {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    
    .img-responsive {
        display: block;
        width: 100%;
        max-width: 100%;
    }
    
    .blockele {
        display: block;
        width: 100%;
    }
    
    .d-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .wrap {
        flex-wrap: wrap;
    }
    
    .gray {
        background: #ececec;
    }
    
    .btn-yellow {
        display: inline-block;
        border-radius: 40px;
        color: #fff;
        background: #ff4e00;
        border: 1px solid transparent;
        transition: all .26s;
    }
    
    .btn-blue {
        display: inline-block;
        border-radius: 40px;
        color: #fff;
        background: #024b80;
        border: 1px solid transparent;
        transition: all .26s;
    }
    
    .btn-blue:hover {
        background: #fff;
        border: 1px solid #024b80 !important;
        color: #024b80;
    }
    
    .btn-yellow:hover {
        background: #fff;
        border: 1px solid #ff4e00 !important;
        color: #ff4e00;
    }
    
    #header {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 200;
        padding: 31px 0;
        transition: all 0.26s;
    }
    
    #header.smaller {
        background: rgba(2, 75, 128, .95);
        padding: 3px 0 10px;
    }
    
    .smaller .logo img {
        width: 150px;
    }
    
    .logo img {
        transition: all 0.2s;
        width: 215px;
    }
    
    .menu-part {
        position: fixed;
        left: 0;
        opacity: 0;
        visibility: hidden;
        top: -70vh;
        z-index: 200;
        background:rgba(19, 75, 128, .98);
        width: 100%;
        height: 100vh;
        padding: 20px 0 30px;
        transition: all 0.2s;
    }
    
    .menu-part.open_menu {
        top: 0;
        visibility: visible;
        opacity: 1;
    }
    
    .close-m {
        cursor: pointer;
        transition: all 0.26s;
    }
    
    .close-m:hover {
        transform: rotate(180deg);
    }

    .menu-sec {
        /*float: left;
        width: 30%;*/
        text-align: left;
        padding: 0 30px 20px 0;
        flex: 0 0 33%;
    }
    .menu-parts.l-en {
        place-content: flex-start;
    }
    .menu-sec h2 {
        font-size: 20px;
        border-bottom: 1px solid #fff;
        color: #fff;
        margin: 0 0 20px;
        padding: 0 0 8px;
    }
    
    .menu-sec ul li {
        float: left;
        width: 100%;
        margin: 0 0 10px;
    }
    
    .menu-sec ul li a {
        display: flex;
        color: #fff;
    }
    
    .menu-sec ul li a i {
        padding: 0 10px 0 0px;
    }
    
    .menu-sec ul li a:hover {
        color: #ee4b34;
    }

    .top-sec {
        padding: 0 0 29px;
    }
    
    .right_bar a {
        font-size: 16px;
        font-weight: 500;
        padding: 4px 16px;
        margin: 6px 0 0;
    }
    
    .right_bar span {
        margin: 0 0 0 20px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer
    }
    
    .banner-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .banner-part {
        text-align: center;
        background: url('../images/borders.png') no-repeat;
        background-position: 0 28px;
        position: relative;
    }
    
    .banner-part:after {
        position: absolute;
        right: 0;
        top: 32px;
        background: url(../images/borders-right.png) no-repeat;
        content: '';
        width: 100px;
        height: 100%;
    }
    
    .banner-part li {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        margin: 0 57px;
    }
    
    .banner-part li .service-txt {
        margin: 26px 0 0;
        font-family: 'Museo For Dell';
    }
    
    .banner-part h2 {
        color: #fff;
        font-size: 55px;
        line-height: 60px;
        margin: 0 0 51px;
        position: relative;
    }
    
    .banner-part h2 img {
        position: absolute;
        right: 14%;
        top: -56px;
    }
    
    .banner-part h2 span {
        color: #00aeff;
    }
    
    .wrapper2 {
        margin: 0 auto;
        max-width: 910px;
        position: relative;
    }
    
    .animated {
        animation-duration: 2.5s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: bounce;
    }
    
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-10px);
        }
    }
    
    .scroll_down {
        position: absolute;
        margin: 0 auto;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 2;
        height: 60px;
        width: 35px;
    }
    
    button#scrolled {
        background: none;
        border: 0;
        cursor: pointer;
    }
    
    #banner {
        background: url('../images/banner.jpg') no-repeat;
        height: 100vh;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .home {
        background: url('../images/side_bubble.png') no-repeat;
    }
    
    .story {
        float: left;
        width: 44%;
    }
    
    .str-img {
        float: right;
        width: 49%;
    }
    
    .story h3 {
        color: #ff4e00;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Museo For Dell';
    }
    
    .about-sec {
        padding: 80px 0 85px;
    }
    
    .story h2 {
        color: #34393d;
        font-size: 46px;
        font-weight: 700;
        margin: 20px 0 46px;
        line-height: 48px;
    }
    
    .story p {
        color: #555a5f;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }
    
    .story a,
    .footer-in .contact li input.btn-yellow,
    .leave-replay li input.btn-yellow,
    .load-more a {
        padding: 10px 36px;
        box-shadow: 1px 3px 3px #ffd8c7;
        margin: 70px 0 0;
        font-weight: 500;
    }
    
    .expert {
        padding: 77px 0 50px;
    }
    
    .heading h3 {
        color: #34393d;
        font-size: 46px;
        font-weight: 700;
        margin: 0 0 30px;
    }
    
    .heading p {
        color: #34393d;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
    }
    
    .our-services {
        margin: 70px 0 0;
    }
    
    .our-services li {
        flex: 0 0 33%;
        margin: 0 0 50px;
        text-align: center;
    }
    
    .our-services li h5 {
        font-weight: 700;
        color: #024b80;
        font-size: 28px;
        margin: 22px 0;
    }
    
    .our-services li p {
        font-size: 15px;
        color: #4d5358;
        line-height: 24px;
        font-weight: 500;
    }
    
    .our-services a,
    .more-blog a {
        padding: 10px 36px;
        box-shadow: 1px 3px 3px rgba(11, 88, 145, .3);
        font-weight: 500;
    }
    
    .portfolio {
        padding: 78px 0 109px;
        background: url('../images/strip.jpg');
        overflow: hidden;
    }
    
    .slick-slider {
        position: relative;
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    
    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    .slick-list:focus {
        outline: none;
    }
    
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }
    
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    
    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
    }
    
    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }
    
    .slick-track:after {
        clear: both;
    }
    
    .slick-loading .slick-track {
        visibility: hidden;
    }
    
    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    
    [dir='rtl'] .slick-slide {
        float: right;
    }
    
    .slick-slide img {
        display: block;
    }
    
    .slick-slide.slick-loading img {
        display: none;
    }
    
    .slick-slide.dragging img {
        pointer-events: none;
    }
    
    .slick-initialized .slick-slide {
        display: block;
    }
    
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    
    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    
    .slick-arrow.slick-hidden {
        display: none;
    }
    
    .slick-prev,
    .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        margin-top: -10px\9;
        /*lte IE 8*/
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
    }
    
    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
        color: transparent;
        outline: none;
        background: transparent;
    }
    
    .slick-prev:hover:before,
    .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
        opacity: 1;
    }
    
    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
        opacity: .25;
    }
    
    .slick-prev:before,
    .slick-next:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .slick-prev {
        left: -25px;
    }
    
    [dir='rtl'] .slick-prev {
        right: -25px;
        left: auto;
    }
    
    .slick-prev:before {
        content: '←';
    }
    
    [dir='rtl'] .slick-prev:before {
        content: '→';
    }
    
    .slick-next {
        right: -25px;
    }
    
    [dir='rtl'] .slick-next {
        right: auto;
        left: -25px;
    }
    
    .slick-next:before {
        content: '→';
    }
    
    [dir='rtl'] .slick-next:before {
        content: '←';
    }
    /* Dots */
    
    .slick-slider {
        margin-bottom: 30px;
    }
    
    .slick-dots {
        position: absolute;
        bottom: -45px;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }
    
    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }
    
    .slick-dots li button:hover,
    .slick-dots li button:focus {
        outline: none;
    }
    
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: 1;
    }
    
    .slick-dots li button:before {
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .clip {
        position: relative;
        overflow: hidden;
    }
    
    .clip .btns {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s;
    }
    
    .clip:hover .btns {
        opacity: 1;
        visibility: visible;
    }
    
    .btns .btn-group {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    
    .btns .btn-group a {
        padding: 10px 36px;
        box-shadow: 1px 3px 3px #110500;
        font-weight: 500;
        display: inline-block;
        border-radius: 40px;
        color: #fff;
        background: #ff4e00;
        font-size: 15px;
        margin: 0 10px;
    }
    /**********************************/
    
    .portfolio .slick-dots li button {
        margin: 0;
        border: 2px solid #fff;
        border-radius: 100%;
        width: 12px;
        height: 12px;
    }
    
    .portfolio .slick-dots li.slick-active button {
        border-color: #000;
    }
    
    .slick-slide {
        text-align: center;
        color: #419be0;
        margin: 10px;
    }
    
    .tabbing ul.tab {
        max-width: 850px;
        margin: 0 auto 50px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    
    .tabbing ul.tab li {
        display: inline-block;
    }
    
    .tabbing ul.tab li a {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        display: block;
        position: relative;
        padding: 9px 17px;
    }
    
    .tabbing ul.tab:after {
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 96%;
        height: 2px;
        background: #fff;
        content: '';
        right: 0;
        margin: 0 auto;
    }
    
    .portfolio .slick-prev,
    .portfolio .slick-next {
        top: auto;
        bottom: -50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 200px;
    }
    
    .portfolio .slick-next {
        background: url('../images/btn-next.png') no-repeat;
    }
    
    .portfolio .slick-prev {
        background: url('../images/btn-prev.png') no-repeat;
    }
    /**********************************/
    
    .tabbing ul.tab li a.active:after {
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 2px;
        width: 92%;
        content: '';
        background: #FF4E03;
        right: 0;
        margin: 0 auto;
        z-index: 1;
    }
    
    .tabbing ul.tab li a.active {
        color: #ff4e00;
    }
    
    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: black;
    }
    
    .portfolio h3 {
        font-size: 40px;
        color: #fff;
    }
    
    .testimonial {
        padding: 72px 0 80px;
    }
    
    .testimonial .icn {
        position: absolute;
        top: -47px;
        left: 0;
        right: 0;
        text-align: center;
        line-height: 80px;
        border-radius: 100%;
        margin: 0 auto;
        overflow: hidden;
        width: 106px;
    }
    
    .testimonial h3 {
        color: #34393d;
        font-size: 38px;
        position: relative;
        margin: 0 0 80px;
    }
    
    .testimonial h3:after {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        content: '';
        bottom: -53px;
        height: 29px;
        width: 32px;
        background: url('../images/quote-icn.jpg') no-repeat;
    }
    
    .testimonial p {
        color: #3c4347;
        font-size: 15px;
        line-height: 24px;
        font-style: italic;
        margin: 0 0 22px;
        font-weight: 500;
    }
    
    .testimonial h6 {
        color: #e64600;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
    }
    
    .testimonial .slick-dots li button {
        border: 2px solid#505050;
        text-indent: -9999px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    
    .testimonial .slick-dots li {
        margin: 0;
    }
    
    .testimonial .slick-dots li.slick-active button {
        border-color: #3890ce;
    }
    
    .client-logo:last-child {
        margin: 0;
    }
    
    .client-logo {
        display: inline-block;
        margin: 0 32px 0 0;
    }
    
    .clients-img {
        margin: 71px 0 0;
    }
    
    .blog {
        padding: 53px 0 60px;
    }
    
    .blog h3 {
        padding: 0 0 53px 0;
        font-weight: 700;
        color: #34393d;
        font-size: 40px;
    }
    
    .main-side {
        float: left;
        width: 47.5%;
    }
    
    .recent-blog {
        float: right;
        width: 47.8%;
    }
    
    .blog h4 {
        color: #34393d;
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 13px;
    }
    
    .blog p {
        margin: 4px 0 0;
        color: #454c51;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }
    
    .post-date {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 23px;
        font-weight: 700;
        color: #e64600;
        border: 2px solid #e64600;
    }
    
    .post-date span {
        font-weight: 500;
        font-size: 13px;
    }
    
    .rec-in .post-date {
        left: 0;
        top: 0;
        position: relative;
        float: left;
        width: 50px;
    }
    
    .post-data {
        float: right;
        width: calc(100% - 77px);
    }
    
    .blog-img {
        margin: 10px 0 0;
    }
    
    .blog .blog-img p {
        margin: 20px 0 0;
    }
    
    .rec-in {
        border-bottom: 1px solid #c9c9c9;
        margin: 0 0 38px;
        padding: 0 0 38px;
    }
    
    .rec-in:last-child {
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    .more-blog {
        margin: 80px 0 0;
    }
    /****************about*****************************/
    
    .banners-in {
        background-image: url(../images/about-bg.jpg);
    }
    
    .pages {
        background-size: cover;
        padding: 170px 0 125px;
        color: #fff;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    #banners-in h2 {
        font-size: 50px;
        line-height: 52px;
        font-family: 'Museo For Dell';
    }
    
    .breadcrumb {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    
    .breadcrumb li {
        display: inline-block;
        font-size: 14px;
        color: #fff;
    }
    
    .breadcrumb li a {
        color: #848387;
    }
    
    .breadcrumb li a:hover {
        color: #fff;
    }
    
    .about .heading {
        padding: 125px 0 142px;
    }
    
    .about .heading h2 {
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 60px;
        margin: 0 0 47px;
        color: #34393d;
    }
    
    .about .heading p {
        color: #3c4347;
        font-size: 15px;
        font-weight: 500;
    }
    
    .about-story {
        padding-bottom: 50px;
    }
    
    .story-part {
        float: left;
        width: 44.7%;
    }
    
    .story-part h4 {
        color: #ff4e00;
        font-size: 30px;
        font-weight: 700;
        margin: 80px 0 38px;
    }
    
    .story-part p {
        color: #34393d;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
    }
    
    .story-img {
        float: right;
        width: 44.5%;
    }
    
    .about .team .heading {
        padding: 72px 0 0;
    }
    
    .about .team .heading h3 {
        text-transform: uppercase;
        font-size: 40px;
    }
    
    .members .member-name h3 {
        text-transform: uppercase;
        color: #024b80;
        font-size: 18px;
        font-weight: 700;
        line-height: 19px;
        margin: 0 0 6px;
    }
    
    .team-img img:hover {
        filter: grayscale(1);
    }
    
    .members .member-name h5 {
        color: #122840;
        font-size: 13px;
        font-weight: 500;
    }
    
    .members .member-name {
        margin: 20px 0 0;
    }
    
    .team {
        padding: 0 0 40px;
    }
    
    .facts {
        background: url(../images/fact.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 50px 0 72px;
    }
    
    .about .facts .heading {
        padding: 0;
    }
    
    .facts .heading h5 {
        color: #fff;
        font-size: 30px;
        font-weight: 300;
    }
    
    .facts .heading h4 {
        font-size: 40px;
        color: #fff;
        font-weight: 700;
        margin: 13px 0 0;
    }
    
    .facts-count {
        padding: 60px 0 0;
    }
    
    .facts-count li {
        flex: 0 0 25%;
        border-right: 1px solid #5889ac;
    }
    
    .facts-count li .fact-in {
        position: relative;
    }
    
    .facts-count li .fact-in h5 {
        color: #fff;
        margin: 25px 0;
        font-size: 50px;
        font-weight: 700;
        line-height: 43px;
    }
    
    .facts-count li .fact-in h6 {
        color: #fff;
        font-size: 15px;
    }
    
    .facts-count li:last-child {
        border: 0;
    }
    /***************************blog**********************/
    
    .blog-sec,
    .agency {
        padding: 0 0 50px;
        border-bottom: 1px solid #f7f7f7;
    }
    
    .blog-in {
        background-image: url(../images/blog-bg.jpg);
    }
    
    .left-article {
        float: left;
        width: 60.5%;
    }
    
    .post-type {
        color: #7c7c7e;
        font-size: 15px;
        margin: 20px 0;
    }
.post-author .quote {padding: 0 0 0 50px;}

.post-author .quote p {
    border-left: 2px solid red;
    padding: 0 0 0 20px;
}
    .blog .post-desc h3 {
        padding: 0;
        font-size: 28px;
        margin: 0 0 20px;
    }
    
    .blog .post-desc h3 a {
        color: #34393d;
    }
    
    .blog .post-desc h3:hover a {
        color: #FF4E00;
    }
    
    .post-author {
        margin: 0 0 50px;
        padding: 0 0 50px;
        border-bottom: 1px solid #cacaca;
    }
    
    .post-author p {
        color: #34393d;
        font-size: 15px;
        margin: 18px 0 27px;
    }
    
    .post-author h6 {
        color: #7c7c7e;
        font-size: 13px;
        font-weight: 500;
    }
    
    .post-author h6 span {
        color: #ff4e00;
    }
    
    .post-author h6 img {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        margin: 0 10px 0 0;
    }
    
    .post-author a {
        padding: 10px 36px;
        box-shadow: 1px 3px 3px #ffd8c7;
        margin: 0;
        font-weight: 500;
    }
    
    .post-img {
        overflow: hidden;
    }
    
    .post-img:hover img {
        transform: scale(1.1);
    }
    
    .post-img img {
        transition: all 0.26s;
    }
    
    .right-side {
        float: right;
        width: 34.4%;
    }
    
    .right-side input[type="text"],
    .leave-replay li input[type="text"] {
        width: 100%;
        border: 0;
        padding: 10px 50px 10px 10px;
        border-radius: 3px;
        height: 53px;
        background: #f8f8f8;
        font-size: 15px;
    }
    
    .post-search input[type="submit"] {
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
        font-size: 0;
        background: url(../images/search.png) no-repeat;
        width: 40px;
        height: 53px;
        background-position: center center;
        cursor: pointer;
    }
    
    .blog .category h4,
    .blog .popular h4 {
        margin: 42px 0 16px;
        font-size: 20px;
    }
    
    .blog .category li {
        float: left;
        width: 100%;
        border-bottom: 1px solid #cacaca;
    }
    
    .blog .category li a {
        display: block;
        color: #7c7c7e;
        font-size: 18px;
        font-weight: 500;
        padding: 24px 0;
    }
    
    .blog .category li a span {
        background: #024b80;
        border-radius: 9px;
        color: #fff;
        font-size: 15px;
        height: 20px;
        width: 29px;
        display: inline-block;
        position: absolute;
        right: 0;
        text-align: center;
    }
    
    .blog .category li a:hover {
        color: #000;
    }
    
    .blog .category li a:hover span {
        background: #ff4e00;
    }
    
    .popular li {
        float: left;
        width: 100%;
        border-bottom: 1px solid #cacaca;
        padding: 24px 0;
    }
    
    .popular li h5 {
        color: #7c7c7e;
        font-size: 15px;
    }
    
    .blog .popular li h3 {
        color: #34393d;
        font-size: 18px;
        padding: 0;
        font-weight: 500;
    }
    
    .blog .popular li:hover h3 {
        color: #000;
    }
    
    .blog .tag h4 {
        color: #024b80;
        font-size: 20px;
        margin: 41px 0;
    }
    
    .blog .tag a {
        float: left;
        background: #f9faff;
        padding: 10px 13px;
        border-radius: 3px;
        font-size: 15px;
        color: #7c7c7e;
        font-weight: 500;
        margin: 0 9px 6px 0;
        transition: all 0.26s;
    }
    
    .blog .tag a:hover {
        color: #fff;
        background: #024b80;
    }
    /***pagination***/
    
    [data-pagination],
    [data-pagination] *,
    [data-pagination] *:before,
    [data-pagination] *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-kerning: auto;
    }
    
    [data-pagination] {
        font-size: 8pt;
        line-height: 1;
        font-weight: 400;
        -webkit-text-size-adjust: 100%;
        margin: 1em auto;
        text-align: center;
        transition: font-size .2s ease-in-out;
    }
    
    [data-pagination] ul {
        list-style-type: none;
        display: inline;
        font-size: 100%;
        margin: 0;
        padding: .5em;
    }
    
    [data-pagination] ul li {
        display: inline-block;
        font-size: 100%;
        width: auto;
        border-radius: 3px;
    }
    
    [data-pagination]>a {
        font-size: 140%;
    }
    
    [data-pagination] a {
        font-size: 100%;
        padding: 6px 11px;
        display: block;
        color: #373737;
        font-size: 18px;
        font-weight: 700;
    }
    
    [data-pagination] a:focus,
    [data-pagination] a:hover {
        color: #f60;
    }
    
    [data-pagination] li.current {
        background: #024b80;
    }
    
    [data-pagination] .disabled,
    [data-pagination] [hidden],
    [data-pagination] [disabled] {
        opacity: .5;
        pointer-events: none;
    }
    
    @media (min-width: 350px) {
        [data-pagination] {
            font-size: 10pt;
        }
    }
    
    @media (min-width: 500px) {
        [data-pagination] {
            font-size: 12pt;
        }
    }
    
    @media (min-width: 700px) {
        [data-pagination] {
            font-size: 14pt;
        }
    }
    
    @media (min-width: 900px) {
        [data-pagination] {
            font-size: 16pt;
        }
    }
    
    [data-pagination] li.current a {
        color: #fff;
    }
    
    .post-author .share-post a {
        padding: 0;
        box-shadow: none;
        color: #ff4e00;
        font-size: 15px;
    }
    
    .post-author .share-post a:hover {
        color: #0f5486;
    }
    
    .post-author .share-post a i {
        padding: 0 6px 0 0;
    }
    
    .blog .related h3,
    .blog .comments h3,
    .blog .leave-replay h3 {
        color: #024b80;
        font-size: 20px;
        font-weight: 600;
        padding: 0 0 30px;
    }
    
    .post-inner {
        position: relative;
        float: left;
        width: 48%;
    }
    
    .post-inner:last-child {
        float: right;
    }
    
    .blog-txt {
        position: absolute;
        bottom: 13px;
        left: 7px;
        width: calc(100% - 15px);
    }
    
    .blog .blog-txt h4 {
        font-size: 15px;
        margin: 0 0 5px;
        color: #fff;
    }
    
    .blog .blog-txt h5 {
        font-size: 16px;
        color: #fff;
    }
    
    .comments {
        margin: 65px 0 40px;
    }
    
    .comments {
        margin: 65px 0 40px;
    }
    
    .user-comments {
        border: 1px solid #cacaca;
        padding: 19px 31px;
        border-radius: 6px;
        margin: 0 0 25px;
    }
    
    .user-comments:last-child {
        margin: 0;
    }
    
    .user-comments .user-img {
        width: 70px;
        height: 70px;
        float: left;
    }
    
    .user-comments .user-img img {
        border-radius: 100%;
        width: 100%;
    }
    
    .user-comments .user-info {
        float: right;
        width: calc(100% - 100px);
    }
    
    .user-info h5 {
        color: #34393d;
        font-size: 15px;
        font-weight: 600;
        margin: 0 0 6px;
    }
    
    .user-info h6 {
        font-size: 13px;
        color: #7c7c7e;
        font-weight: 500;
        margin: 0 0 9px;
    }
    
    .user-info h6 i,
    .user-info a i {
        font-size: 11px;
        margin: 0 7px 0 0;
    }
    
    .blog .user-info p {
        color: #34393d;
        font-size: 15px;
        margin: 0 0 17px;
    }
    
    .user-info a {
        color: #ff4e00;
        font-size: 15px;
        font-weight: 600;
    }
    
    .user-info a:hover {
        color: #0f5486;
    }
    
    .user-comments.reply {
        margin: 0 0 25px 20px;
        background: #f9faff;
        width: calc(100% - 20px);
    }
    
    .leave-replay li input[type="text"] {
        background: #eaeaea;
    }
    
    .leave-replay li textarea {
        min-height: 100px;
        resize: none;
        width: 100%;
        background: #eaeaea;
        border: 0;
        padding: 10px;
        font-size: 15px;
        border-radius: 4px;
    }
    
    .leave-replay li {
        margin: 0 0 15px;
    }
    /*********************contact*******************/
    
    .contact-in {
        background-image: url(../images/contact-bg.jpg);
    }
    
    .contact-in p {
        font-size: 15px;
        line-height: 20px;
        position: relative;
    }
    
    .contact-in p:after {
        position: absolute;
        left: 0;
        top: -40px;
        right: 0;
        width: 30px;
        height: 40px;
        background: url('../images/markup.png') no-repeat;
        content: '';
        margin: 0 auto;
    }
    
    #contact-area h2 {
        color: #34393d;
        font-size: 60px;
        font-weight: 700;
        line-height: 50px;
        padding: 100px 0 77px;
    }
    
    .con-address p,
    .con-address a {
        color: #34393d;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
    }
    
    .con-address {
        margin: 19px 0 0;
    }
    
    .con-address a:hover {
        color: #FF4E00;
    }
    
    #contact-area {
        padding: 0 0 100px;
        margin: 0 0 30px;
        border-bottom: 1px solid #ededed;
    }
    /***********************portfolio******************/
    
    .ports-in {
        float: left;
    position: relative;
    margin: 0 20px 20px 0px;
    width: 32%;
}
.ports-in:nth-child(3n) {
    margin-right: 0;
}
    
    .port-txt h3 {
        font-size: 28px;
        color: #fff;
        font-weight: 700;
        margin: 0 0 13px;
    }
    
    .port-txt p {
        color: #fff;
        font-size: 15px;
        line-height: 23px;
    }
    
    .port-txt {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        height: 100%;
        background: rgba(253, 112, 49, .9);
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .26s;
    }
    
    .txt-in {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    
    .ports-in:hover .port-txt {
        opacity: 1;
        visibility: visible;
    }
    
    .portfolio-sec {
        padding: 0 0 50px;
        border-bottom: 1px solid #f7f7f7;
    }
    
    .load-more {
        margin: 30px 0 15px;
    }
    
    .load-more a {
        margin: 0;
    }
    
    .load-more {
        margin: 30px 0 15px;
    }
    
    .load-more a {
        margin: 0;
    }
    
    .portfolio-in .tabbing ul.tab li a {
        font-size: 16px;
        color: #024b80;
        text-transform: capitalize;
        font-weight: 500;
    }
    
    .portfolio-in .tabbing ul.tab:after {
        background: #024b80;
        width: 100%;
        max-width: 575px;
        height: 1px;
    }
    
    .portfolio-in .tabbing ul.tab li a.active:after {
        bottom: -3px;
        width: 72%;
        height: 3px;
    }
    
    .portfolio-in .tabbing ul.tab li a.active {
        color: #ff4e03;
    }
    /***********************portfolio-details*******************/
    
    .mission {
        padding: 65px 0;
    }
    
    .mission .c-l {
        float: left;
        width: 41.5%;
    }
    
    .mission-in {
        padding: 0 48px;
    }
    
    .mission .c-r {
        float: right;
        width: 39%;
    }
    
    .mission h5 {
        color: #ff4e01;
        font-size: 12px;
        font-weight: 500;
        margin: 0 0 14px;
    }
    
    .post-author h5 {
        font-weight: 500;
    }
    
    .mission h2 {
        color: #34393d;
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 16px;
    }
    
    .mission p {
        color: #34393d;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
    }
    
    .post-slide {
        padding: 50px 0;
        border-bottom: 1px solid #f7f7f7;
    }
    
    .post-btn a {
        margin: 0 26px 0 0;
    }
    
    .mission .c-r li {
        border-bottom: 1px solid #cdcdcd;
        padding: 0 0 20px;
        margin: 0 0 20px;
    }
    
    .mission .c-r li h6,
    .mission .c-r li h6 a {
        font-size: 15px;
        font-weight: 500;
        color: #34393d;
    }
    
    .mission .c-r li h6 a:hover {
        color: #ff4e00;
    }
    
    .portfolio-detail .main-content {
        padding: 111px 0 40px;
    }
    
    .portfolio-detail .main-content h2 {
        color: #34393d;
        font-size: 50px;
        font-weight: 700;
        margin: 0 0 50px;
    }
    
    .Pslider {
        overflow: hidden;
    }
    
    .Pslider img {
        margin: 0 80px;
        max-width: 750px;
        height: 500px;
    }
    
    .Pslider .slick-current {
        opacity: 1;
    }
    /**********************services*****************/
    
    .service-page .heading h3 {
        font-size: 80px;
        margin: 0 0 40px;
        line-height: 60px;
    }
    
    .about.service-page .heading {
        padding: 60px 0 0;
    }
    
    .service-page .expert {
        background: url('../images/pink-bg.png') no-repeat;
        background-position: right 100%;
    }
    
    .slider-service .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        width: 3rem;
        height: 3rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0;
        overflow: hidden;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        -webkit-transition: 0.25s;
        transition: 0.25s;
    }
    
    .slider-service .slick-arrow:hover,
    .slider-service .slick-arrow:focus {
        border-color: #F08A5D;
    }
    
    .slider-service .slick-arrow:active {
        -webkit-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
    }
    
    .slider-service .slick-prev {
        left: -73px;
        right: 0;
        margin: 0 auto;
        bottom: -64px;
        top: auto;
    }
    
    .slider-service .slick-next {
        left: 0;
        right: -70px;
        margin: 0 auto;
        bottom: -64px;
        top: auto;
    }
    
    .slider__item {
        position: relative;
    }
    
    .slider__item img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    
    .slider__counter {
        position: absolute;
        bottom: 1rem;
        left: 0;
        z-index: 1;
        font-size: 14px;
        font-weight: normal;
        color: #7f7f7f;
        mix-blend-mode: difference;
        pointer-events: none;
        right: 0;
        margin: 0 auto;
        text-align: center;
        bottom: -24px;
    }
    
    .client-view {
        padding: 100px 0;
        margin: 10px 0 0;
    }
    
    .client-view h3 {
        color: #34393d;
        font-size: 22px;
        font-weight: 700;
        margin: 10px 0 20px;
    }
    
    .client-view p {
        color: #34393d;
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
        font-style: italic;
    }
    
    .client-view h4 {
        font-size: 16px;
        font-weight: 700;
        margin: 24px 0;
        color: #34393d;
    }
    
    .client-view h4 span {
        font-weight: 500;
        margin: 3px 0 0;
        font-size: 14px;
        color: #7f7f7f;
    }
    
    .lead-txt {
        float: left;
        width: 50%;
        margin: 52px 0 0;
    }
    
    .lead-txt h3 {
        color: #34393d;
        font-weight: 700;
    }
    
    .lead-txt p {
        color: #34393d;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        margin: 23px 0;
    }
    
    .lead-txt li {
        float: left;
        width: 100%;
        margin: 0 0 24px;
        color: #34393d;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        padding: 0 0 0 39px;
        background: url('../images/tick.jpg')no-repeat;
        background-position: 0 5px;
    }
    
    .lead-img {
        float: right;
        width: 44%;
    }
    
    .Pslider .slick-prev {
        left: 13.9%;
        width: 54px;
        height: 57px;
        cursor: pointer;
        background: #f4f2f2;
        z-index: 99;
    }
    
    .Pslider .slick-prev:before,
    .Pslider .slick-next:before {
        color: #396ad1;
    }
    
    .Pslider .slick-next {
        width: 54px;
        height: 57px;
        cursor: pointer;
        background: #f4f2f2;
        z-index: 99;
        right: 13.9%;
    }
    /*****************************footer*****************/
    
    #footer {
        background: url('../images/f-bg.jpg') no-repeat;
        background-position: 0 290px;
        background-size: contain;
    }
   

    @media only screen and (min-width:1900px){
        #footer{
            background-position: 0 257px;
        }
    }
    
    .footer-in {
        padding: 73px 0 180px;
    }
    
    .about-pro {
        float: left;
        width: 59%;
        position: relative;
    }
    
    .footer-in .contact {
        float: right;
        width: 36.8%;
        margin: 70px 0 0;
    }
    
    .footer-in .contact li {
        float: left;
        width: 100%;
        padding: 20px 0 0;
    }
    
    .footer-in .contact li input[type="text"],
    .footer-in .contact li input[type="email"],
    .footer-in .contact li input[type="tel"],
    .footer-in .contact li textarea {
        border: 0;
        border-bottom: 1px solid #024b80;
        width: 100%;
        padding: 14px 0px;
        font-family: 'Museo For Dell';
        resize: none;
        font-size: 16px;
    }
    
    .say-h {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
    
    .say-h h3 {
        color: #fff;
        font-weight: 700;
        font-size: 58px;
        line-height: 60px;
    }
    
    .say-h p {
        color: #ffff;
        font-size: 23px;
        margin: 7px 0 20px;
    }
    
    .say-h h6 a {
        color: #024b80;
        font-size: 17px;
        font-weight: 500;
        display: inline-block;
        background: #fff;
        border-radius: 100px;
        padding: 12px 57px 12px 19px;
        vertical-align: middle;
        position: relative;
        transition: all 0.26s;
    }
    
    .say-h h6 a:hover {
        color: #ff4e00;
    }
    
    .say-h h6 span {
        background: url(../images/btn-icn.png) no-repeat;
        width: 35px;
        height: 34px;
        display: inline-block;
        position: absolute;
        top: 5px;
        right: 11px;
        transition: all 0.1s;
    }
    
    .say-h h6 a:hover span {
        background-position: -36px 0;
    }
    
    .footer-in .contact li input.btn-yellow,
    .leave-replay li input.btn-yellow {
        border: 0;
        cursor: pointer;
        font-size: 16px;
        margin: 24px 0 0;
        padding: 10px 45px;
    }
    
    .f-menus {
        background: #024b80;
    }
    
    .f-menus {
        background: #024b80;
        padding: 0 0 58px;
    }
    
    .f-left {
        float: left;
        width: 65%;
    }
    
    .f-right {
        float: right;
        width: 35%;
        text-align: right;
    }
    
    .fm-in {
        float: left;
        width: 100%;
        max-width: 170px;
    }
    
    .fm-in li a {
        color: #fff;
        display: inline-block;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
    }
    
    .fm-in li {
        float: left;
        width: 100%;
        margin: 0 0 9px;
    }
    
    .fm-in li a:hover {
        text-decoration: underline;
    }
    
    .fm-in.address {
        max-width: 300px;
        color: #fff;
    }
    
    .fm-in.address p {
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
        margin: 0 0 8px;
    }
    
    .fm-in.address a {
        display: inline-block;
        color: #fff;
        font-size: 23px;
        font-weight: 500;
    }
    
    .social {
        margin: 19px 0 0;
    }
    
    .social li {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        line-height: 31px;
        background: #fff;
        text-align: center;
        margin: 0 2px;
    }
    
    .social li a {
        display: block;
    }
    
    #footer .social li i {
        color: #52565a;
        font-size: 16px;
    }
    
    #footer .social li:hover i.fa.fa-facebook {
        color: #284da5;
    }
    
    #footer .social li:hover i.fa.fa-twitter {
        color: #37B1E1;
    }
    
    #footer .social li:hover i.fa.fa-linkedin {
        color: #0b308a;
    }
    
    .copy {
        padding: 16px 0;
        font-size: 12px;
        font-family: arial;
        color: rgba(255, 255, 255, .5);
        background: #013d80;
        background: -moz-linear-gradient(left, #013d80 0%, #00267d 100%);
        background: -webkit-linear-gradient(left, #013d80 0%, #00267d 100%);
        background: linear-gradient(to right, #013d80 0%, #00267d 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#013d80', endColorstr='#00267d', GradientType=1);
    }
    /**********************responsive css**********************/
    
    @media only screen and (max-width:1210px) {
        .wrapper {
            padding: 0 20px;
        }
        #banner {
            background-size: cover;
            background-position: center center;
        }
    }
    
    @media only screen and (max-width:1199px) {
        .Pslider img {
            margin: 0 10px;
            max-width: 431px;
            height: auto;
        }
        .Pslider .slick-prev{
            left:0;
        }
        .Pslider .slick-next{
            right:0;
        }
        .ports-in{
            width: 31%;
        }
        .service-page .heading h3{
            font-size: 60px;
        }
        .blog .post-desc h3 {
            font-size: 24px;
        }
        .blog .category li a {
            font-size: 16px;
            padding: 20px 0;
        }
        .popular li {
            padding: 20px 0;
        }
        .blog .popular li h3 {
            font-size: 16px;
        }
        .story {
            width: 46%;
        }
        .expert,
        .about-sec {
            padding: 50px 0;
        }
        .blog h4 {
            font-size: 21px;
        }
        .rec-in {
            margin: 0 0 18px;
            padding: 0 0 18px;
        }
        .blog h3 {
            padding: 0 0 33px 0;
            font-size: 30px;
        }
        .testimonial h3,
        .heading h3 {
            font-size: 32px;
        }
        .heading p {
            font-size: 14px;
            line-height: 25px;
        }
        .our-services li h5 {
            font-size: 23px;
            margin: 15px 0;
        }
        .portfolio {
            padding-top: 48px;
        }
        .footer-in {
            padding-bottom: 90px;
        }
        .client-logo {
            margin: 0 0 20px;
            overflow: hidden;
            width: 33%;
            text-align: center;
        }
        .members li {
            width: 24%;
        }
        .home {
            background-size: 170px;
        }
    }
    
    @media only screen and (max-width:1023px) {
        .footer-in {
            padding-bottom: 60px;
        }
        .lead-img {
            margin: 60px 0 0;
        }
        .Pslider img{
            max-width: 100%;
        }
        .port-txt h3 {
            font-size: 24px;
            margin: 0 0 8px;
        }
        .post-author p {
            margin: 15px 0;
        }
        .blog .popular li h3 {
            line-height: 23px;
        }
        .blog-sec {
            padding-bottom: 20px;
        }
        .blog {
            padding: 53px 0;
        }
        .post-author {
            margin: 0 0 30px;
            padding: 0 0 40px;
        }
        .client-logo {
            width: 32%;
        }
        .story {
            width: 100%;
        }
        .str-img {
            float: none;
            width: 60%;
            margin: 0 auto;
        }
        .banner-part li {
            margin: 0 32px;
        }
        .banner-part h2 {
            font-size: 46px;
            margin: 0 0 40px;
        }
        .banner-part:after,
        .banner-part:before {
            display: none;
        }
    
        .banner-part {
            background: none;
        }
        .our-services li {
            flex: 0 0 47%;
        }
        .expert .heading p span {
            display: inline;
        }
        .our-services {
            margin: 30px 0 0;
        }
        .tabbing ul.tab li a {
            padding: 9px;
        }
        .btns .btn-group a {
            margin: 10px;
        }
        .home {
            background-size: 80px;
        }
        .about .heading h2 {
            font-size: 60px;
        }
        .story-part h4 {
            margin-top: 0;
        }
        #banners-in h2 {
            font-size: 40px;
            line-height: 43px;
        }
        .about .heading {
            padding: 75px 0 82px;
        }
        .about .heading p span, .portfolio-detail .main-content p span {
            display: inline;
        }
        .portfolio-detail .main-content {
            padding: 71px 0 40px;
        }
        .mission-in{
            padding: 0;
        }
        .mission .c-l{
            width:54.5%;
        }
    }
    
    @media only screen and (max-width:767px) {
        .navigation{
            overflow: hidden;
            overflow-y: scroll;
            height: 83vh;
            padding: 0 0 40px;
        }
        .menu-sec h2:after {
            position: relative;
            right: 0;
            top: 0;
            content: '+';
            font-size: 44px;
            float: right;
            font-weight: 300;
        }
        
        .menu-sec h2.active:after {
            content: '-';
        }
        .menu-sec{
            padding-bottom: 10px;
            padding-right: 0;
        }
        .menu-sec ul{
            display: none;
            margin: 20px 0 8px;
            float: left;
            border-bottom: 1px solid #fff;
        }
        .menu-parts.l-en{
            display:block;
        }
        .menu-sec h2{
            padding:0 0 10px;
            margin: 0;
            position: relative;
        }
        .portfolio-detail .main-content h2{
            font-size: 35px;
        }
        .post-btn a {
            width: 40%;
            display: inline-block;
        }
        .Pslider img {
            max-width: 640px;
            width: 100%;
            margin: 0 auto;
        }
        .post-btn a img {
            width: 100%;
        }
        .post-btn a:last-child {
            margin: 0;
        }
        .pages{
            padding: 125px 0;
        }
        .service-page .expert{
            padding-top: 0;
        }
        .client-view p span{
            display:inline;
        }
        .ports-in {
            flex: 0 0 48.4%;
            width: 31.6%;
            margin: 0 10px 10px 0px !important;
        }
        #contact-area h2 {
            font-size: 50px;
            line-height: 50px;
            padding: 70px 0;
        }
        .contact-area {
            padding: 0 2px;
        }
        #contact-area {
            padding: 0 0 60px;
            margin: 0;
        }
        .left-article {
            width: 100%;
            margin: 0 0 25px;
        }
        .right-side, .lead-txt, .lead-img {
            width: 100%;
        }
        .lead-img{
            text-align: center;
        }
        .lead-img img {
            max-width: 440px;
            display: inline-block;
        }
        [data-pagination] a {
            padding: 4px 9px;
            font-size: 15px;
        }
        .testimonial p span {
            display: inline;
        }
        .story h2 {
            font-size: 36px;
            margin: 20px 0;
            line-height: 37px;
        }
        .banner-part h2 {
            font-size: 36px;
            margin: 0 0 10px;
        }
        .service-icn img {
            width: 30px;
        }
        .scroll_down {
            bottom: -8px;
        }
        .banner-part li {
            margin: 0 13px;
        }
        .banner-part li .service-txt {
            margin: 10px 0 0;
        }
        .banner-part h2 img {
            right: 31%;
            top: -26px;
            width: 50px;
        }
        .logo img {
            width: 175px;
        }
        .story,
        .recent-blog,
        .footer-in .contact {
            width: 100%;
        }
        .str-img {
            float: none;
            width: 60%;
            margin: 0 auto;
        }
        .story a {
            margin: 30px 0;
        }
        .tabbing ul.tab li a {
            font-size: 12px;
            padding: 6px;
        }
        .main-side {
            width: 100%;
            margin: 0 0 30px;
        }
        .about-pro {
            float: none;
            width: 100%;
            margin: 0 auto;
            max-width: 520px;
        }
        #footer {
            background: none;
        }
        .footer-in .contact {
            margin: 40px 0 0;
        }
        .footer-in {
            padding-bottom: 40px;
        }
        .f-menus {
            padding: 40px 0;
        }
        .f-left {
            width: 75%;
        }
        .fm-in,
        .c-logo img {
            max-width: 120px;
        }
        .fm-in.address {
            max-width: 200px;
        }
        .f-right {
            width: 25%;
        }
        .f-logo img {
            width: 100%;
        }
        .say-h h3 {
            font-size: 43px;
            line-height: 50px;
        }
        .close-m img {
            width: 16px;
        }
        .story-part {
            width: 100%;
            margin: 0 0 40px;
        }
        .story-img {
            float: none;
            width: 100%;
            display: inline-block;
            text-align: center;
        }
        .story-img img {
            max-width: 400px;
            display: inline-block;
        }
        .members .member-name h3 {
            font-size: 15px;
        }
        .facts-count li .fact-in h5 {
            margin: 15px 0;
            font-size: 40px;
        }
        .about .team .heading {
            padding: 44px 0 0;
        }
        #contact-area h2 {
            font-size: 40px;
            padding: 40px 0;
        }
    }
    
    @media only screen and (max-width:639px) {
        .Pslider img{
            max-width: 400px;
        }
        .ports-in, .mission .c-l, .mission .c-r {
            flex: 0 0 100%;
            width: 100%;
        }
        .mission .c-r{
            margin: 30px 0 0;
        }
        #banners-in h2 {
            font-size: 30px;
            line-height: 33px;
        }
        .contact-sec {
            display: block;
        }
        .contact-area {
            padding: 0 2px 30px;
        }
        #contact-area {
            padding: 0 0 30px;
            margin: 0 0 30px;
        }
        #banners-in h2 span {
            display: inline;
        }
        .facts-count ul {
            display: block;
        }
        .facts-count li {
            flex: 0;
            border-right: 1px solid #5889ac !important;
            width: 50%;
            float: left;
            margin: 0 0 36px;
        }
        .members ul {
            flex-wrap: wrap;
        }
        .members li {
            width: 46%;
            margin: 0 0 20px;
        }
        #header {
            padding: 7px 0;
        }
        .logo img,
        .smaller .logo img {
            width: 118px;
        }
        .right_bar a {
            font-size: 13px;
        }
        .right_bar span img {
            width: 26px;
        }
        .banner-part h2 {
            font-size: 26px;
        }
        .banner-part li {
            margin: 0 4px 45px;
            width: 47%;
        }
        .banner-part li .service-txt {
            font-size: 15px;
        }
        .story h2 {
            font-size: 26px;
            line-height: 31px;
        }
        .our-services li {
            flex: 0 0 100%;
            margin: 0 0 30px;
        }
        .more-blog {
            margin: 40px 0 0;
        }
        .f-left {
            width: 100%;
        }
        .fm-in {
            max-width: 50%;
        }
        .fm-in.address {
            max-width: 100%;
            margin: 20px 0;
        }
        .f-right,
        .client-logo {
            width: 100%;
            float: none;
            display: inline-block;
            text-align: center;
        }
        .f-logo img {
            width: 200px;
        }
        .say-h h3 {
            font-size: 30px;
            line-height: 30px;
        }
        .say-h p {
            font-size: 17px;
        }
        .footer-in {
            padding: 23px 0;
        }
        .tabbing ul.tab li a {
            font-size: 16px;
            padding: 11px;
        }
        .about .heading h2 {
            font-size: 40px;
            margin: 0 0 17px;
        }
        .about .heading {
            padding: 35px 0;
        }
    }

@media only screen and (max-width:600px){
    .user-comments{
        padding:11px;
    }
    .user-comments .user-img {
        width: 50px;
        height: 50px;
    }
    .user-comments .user-info {
        width: calc(100% - 64px);
    }
    .post-inner {
        width: 100%;
        margin: 0 0 19px;
    }
}
